:root {
  --left-width: min(40vw, calc(calc(2313 / 3806) * 100vh));
  box-sizing: border-box;
  --width-help: calc(calc(calc(100vw - var(--left-width)) / 2));
  --width-help2: calc(50%-30px);
}

body {
  padding: 0;
  margin: 0;
  background-color: lightgray;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
}

.left-container {
  height: 100vh;
}

.main-image {
  height: 100vh;
  width: var(--left-width);
  position: relative;
}

.copyright {
  position: absolute;
  bottom: 0;
  text-align: center;
  color: white;
  width: var(--left-width);
}

.right-container {
  align-self: center;
}

.right-middle {
  background-color: white;
}

.right-middle-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: min(530px, 100%);
  background-color: blueviolet;
}

.right-middle-container > p {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}

input {
  background-color: aqua;
}

.right-top {
  font-weight: bold;
}

.right-container > * {
  padding: 30px;
}

legend {
  margin-bottom: 10px;
}

.hewwo {
  width: min(45%, 250px);
  background-color: aqua;
}

.haist {
  width: 250px;
}
