:root {
  --left-width: min(40vw, calc(calc(2321 / 3814) * 100vh));
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(169, 169, 169);
  height: 100vh;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.left-container {
  background-color: rgb(42, 39, 39);
  background-image: url(./img/pexels-finite-captures-4248214.jpg);
  background-size: cover;
  background-position: center;
}

.main-image {
  height: 100vh;
  width: var(--left-width);
  position: relative;
}

.copyright {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: var(--left-width);
}

.right-container {
  align-self: center;
}

.right-middle {
  background-color: white;
  box-shadow: 0 0 15px 0 white;
  border-radius: 20px;
}

.right-middle-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  width: min(530px, 100%);
}

.right-middle-container > p {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

p.password {
  padding-bottom: 0;
}

.right-top {
  width: min(100%, 600px);
  font-size: 18px;
}

.sign-up {
  font-weight: bold;
}

.right-container > * {
  padding: 30px;
}

legend {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.hewwo {
  width: min(45%, 250px);
}

.btn {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  background-color: black;
  margin-bottom: 20px;
}

.btn:hover,
.btn:focus {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255, 0.7);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(139, 0, 139);
}

label {
  color: black;
}

input {
  color: black;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid black;
  outline: none;
}

.error {
  color: red;
  font-size: 12px;
}

.invalid input[type='password'] {
  border: red solid 1px;
  box-shadow: 0 0 1px 0 red;
}

.right-middle input:focus {
  border: 1px solid blue;
  box-shadow: 0 0 5px 0 blue;
}

.logo-container {
  position: absolute;
  top: 12.5%;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  width: var(--left-width);
  display: flex;
  align-items: center;
  font-size: 20px;
}

.logo {
  width: 115px;
}
