:root {
  --left-width: min(40vw, calc(calc(2313 / 3806) * 100vh));
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: lightgray;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
}

.left-container {
  height: 100vh;
}

.main-image {
  height: 100vh;
  width: var(--left-width);
  position: relative;
}

.copyright {
  position: absolute;
  bottom: 0;
  text-align: center;
  color: white;
  width: var(--left-width);
}

.right-container {
  align-self: center;
}

.right-middle {
  background-color: white;
}

.right-middle-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  width: min(530px, 100%);
  background-color: blueviolet;
}

.right-middle-container > p {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding-bottom: 20px;
}

.right-top {
  font-weight: bold;
  width: min(100%, 600px);
}

.right-container > * {
  padding: 30px;
}

legend {
  margin-bottom: 10px;
}

.hewwo {
  width: min(45%, 250px);
  background-color: aqua;
}

.btn {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255, 0.7);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(139, 0, 139);
}
